{% extends 'base.html' %}

{% block content %}

<br>
<br>
<br>
<div class="container">

    <div class="blog-post">
        <h3 class="blog-post-title text-right">:اجاره کلایمر</h3>
        <br>
        <h4 class="blog-post-titile text-center">جایگزین داربست</h4>
        <br>
        <p class="blog-post-meta text-right">.اجاره کلایمر معمولا به صورت ماهیانه محاسبه می شود. دستگاه های جایگزین داربست ایمن کلایمر با طراحی مهندسین مجرب این مجموعه  و تنوع سبد های نما قابلیت تنظیم از 1 متر تا 6 متری و سبد های تلسکوپی پشت بام در هر نوع نمای ساختمان و یا بغل کار و پشت کار که همسایه،اجازه نصب داربست را نمی دهد جایگزین داربست قابل استفاده می باشد و بدون هیچ مزاحتمی به همسایه ها و بدون اشغال هیچ جایی از پشت بام همسایه و خیابان و مجاور ساختمان قابل نصب می باشد. کلیه دستگاه های ایمن کلایمر مجهز به پاراشوت و ترمز گریز از مرکز می باشد که ایمینی دستگاه های کلایمر را کامل می کند و به لطف خدا و تکنولوژی بالای دستگاه های ایمن کلایمر در طی فعالیت  این مجموعه هیچ حادثه جانی و مالی رخ نداده است و از هر طرف (چپ و راست) دستگاه دو عدد سیم بکسل8/3 میلیمتری  رد شده است که مقاومت سیم بکسل ها چند برابر باری است که در  جایگزین داربست نیاز است به گونه ای که تحمل آنها 4500 کیلوگرم است</p>
        <br>
        <br>
        <img src="../static/maybe3.jpg" alt="img" class="rounded mx-auto d-block" width="60%" height="100%">
        <br>
        <hr>
        <h5 class="blog-post-title text-right">:
            خیالتون راحت <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"/>
                <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
              </svg>
        </h5>
        <p class="blog-post-meta text-right">تمام کلایمر های اجاره ای ما بعد از هر بار استفاده توسط مهندیسین مجرب سرویس شده و دوباره تحویل مشتری داده میشود</p>
        <h6 class="blog-post-title text-right mb-2" >برای اجاره کلایمر با ما تماس بگیرید <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-headset" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1a5 5 0 0 0-5 5v4.5H2V6a6 6 0 1 1 12 0v4.5h-1V6a5 5 0 0 0-5-5z"/>
            <path d="M11 8a1 1 0 0 1 1-1h2v4a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V8zM5 8a1 1 0 0 0-1-1H2v4a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V8z"/>
            <path fill-rule="evenodd" d="M13.5 8.5a.5.5 0 0 1 .5.5v3a2.5 2.5 0 0 1-2.5 2.5H8a.5.5 0 0 1 0-1h3.5A1.5 1.5 0 0 0 13 12V9a.5.5 0 0 1 .5-.5z"/>
            <path d="M6.5 14a1 1 0 0 1 1-1h1a1 1 0 1 1 0 2h-1a1 1 0 0 1-1-1z"/>
          </svg></h6>
        <ul class="list-unstyled text-small  text-right">
            <li><button class="btn btn-outline-primary mt-3 mb-2" >0919 087 7487: دلخوش</button></li>
            <li><button class="btn btn-outline-primary">0990 687 3238: دلخوش</button></li>
  
          </ul>
        
    
    </div>


</div>


{% endblock %}