{% extends 'base.html' %}

{% block content %}
<style>
    #jump{
        background-image: url('../../static/cl.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
      }
    #jump1{
        background-image: url('../../static/cl.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
      }
    #jump2{
        background-image: url('../../static/cl.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
      }
</style>

<section class="jumbotron text-center" id="jump">
    <div class="container">
      <h1 class="jumbotron-heading text-white ">ایمن کلایمر</h1>
      <p class="lead text-white">بهترین جایگزین داربست</p>
      <p>

       </p>
    </div>
</section>
<section class="jumbotron text-center" id="jump1">
    <div class="container">
      <h1 class="jumbotron-heading text-white ">ایمن کلایمر</h1>
      <p class="lead text-white">بهترین جایگزین داربست</p>
      <p>

       </p>
    </div>
</section>
<section class="jumbotron text-center" id="jump2">
    <div class="container">
      <h1 class="jumbotron-heading text-white ">ایمن کلایمر</h1>
      <p class="lead text-white">بهترین جایگزین داربست</p>
      <p>

       </p>
    </div>
</section>




{% endblock %}